<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
</head>
<body>
    <h1>Face Recognition</h1>
    <div id="video-container">
        <img id="video-frame" src="" alt="Video Frame">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server');
            socket.emit('process_frame');
        });

        socket.on('frame', function(data) {
            console.log('Received frame data');
            var image = document.getElementById('video-frame');
            image.src = 'data:image/jpeg;base64,' + data['data'];
            socket.emit('process_frame');
        });
    </script>
</body>
</html>
